<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>User Dashboard</title>
</head>

<body>
    <h1>User Dashboard</h1>

    <p>
        Welcome, <%= user.username %>
    </p>
    <p>
        Your Email is: <%= user.email %>
    </p>
    <p>
        Gender: <%= user.gender %>
    </p>
    <p>
        Profile Picture: <img src="/uploads/<%= user.profilePic %>" alt="profilePic" width="50px">
    </p>
    <p>
        Documents:
        <% if (user.documents && user.documents.length> 0) { %>
            <ul>
                <% user.documents.forEach((doc)=> { %>
                    <li><a href="/uploads/<%= doc %>" target="_blank">
                            <%= doc %>
                        </a></li>
                    <% }) %>
            </ul>
            <% } else { %>
                No documents uploaded
                <% } %>
    </p>
    <p>Hobbies:
        <% user.hobbies.forEach(hobby=> { %>
            <span>
                <%= hobby %>
            </span>
            <% }) %>
    </p>
    <p>Course: <%= user.course %>
    </p>
    <a href="/updateProfileData">Edit Profile</a> &nbsp;&nbsp;
    <a href="/deleteProfileData">Delete Profile</a>&nbsp;&nbsp;
    <a href="/logout">Logout</a>
</body>

</html>